.App {
  text-align: center;
  margin: 0;
  padding: 0;
}
.title {
  height: 25vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: slateblue;
  color: white;
  font-size: 2.5rem;
}
.navbar {
  display: flex;
  list-style: none;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 1.5rem;
}
.navbar > * {
  margin-left: 5.5rem;
  margin-right: 5.5rem;
}
a {
  text-decoration: none;
  color: black;
  transition: 0.25s ease-in-out;
}
a:hover {
  color: slateblue;
  transition: 0.25s ease-in-out;
}
.container {
  border: 5px solid slategray;
  height: 55vh;
  margin: 10px;
}
.call-us {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 2.5rem;
  height: 70%;
  width: 100%;
}
.call-us > * {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  border: 2px solid black;
}
.call-us-1 {
  background-color: gold;
}
.call-us-2 {
  background-color: white;
}
.call-us-3 {
  background-color: green;
  color: white;
}
.cuisines {
  font-size: 3.75rem;
  font-weight: 200;
  color: darkslateblue;
}
.website {
  height: 35%;
  font-size: 1rem;
}
.about-bottom {
  height: 35%;
  display: flex;
  width: 100%;
  justify-content: space-around;
  text-align: center;
}
.about-bottom > * {
  border: 1px solid black;
  width: 30%;
}

.about-info > ul {
  list-style: none;
}
.about-info > * {
  font-size: 1.35rem;
  padding: 1rem;
}
.priceRange {
  display: flex;
  color: forestgreen;
  font-size: 3rem;
  align-items: center;
  justify-content: center;
}
.menu-container {
  width: 100%;
  height: 75%;
  overflow: scroll;
}
.menu-container > * {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.menuCard {
  height: 11rem;
  width: 11rem;
}
.menuCard > h1 {
  font-size: 1.5rem;
  width: 100%;
}
.row {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.row > * {
  border: 1px solid black;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  padding-right: 6.5rem;
  padding-left: 6.5rem;
  background-color: darkslateblue;
  color: white;
}
.heading {
  font-weight: 400;
  font-size: 1.25rem;
}
#map {
  height: 100%;
}
